$text: #fff;
$text-hover: #CCCECE;

body {
    background-color: #202021;
    color: $text;
    font-family: 'Ubuntu';
}

.container {
    max-width: 1200px;
    margin: .8em auto;
    box-sizing: border-box;
    padding: 2.8rem;
    justify-content: center;
    position: absolute;
    top: 24%;
    right: 0;
    left: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    blockquote {
        font-size: 1.8rem;
        text-align: center;
        width: 100%;

        p {
            line-height: 3rem;
            margin: .5rem;
        }

        span {
            color: #81D2A8;
            font-size: 2rem;
        }
    }
}

.social {
    display: flex;
    justify-content: center;
}

.fab,
.fas {
    color: $text;
    cursor: pointer;
    font-size: 2.8rem;
    margin: 0 1.5rem;
    transition: all 0.5s ease;
}

a,
a:link {
    color: $text;
    font-size: 1rem;
    transition: all 0.5s ease;
}

a:hover,
a:active,
.fab:hover,
.fas:hover {
    color: $text-hover;
    text-decoration: none;
}

@media screen and (max-width: 920px) {
    .container {
        top: 0;
        padding: .5rem;
    }
}

@media screen and (max-width: 580px) {
    .social {
        flex-direction: column;
        align-items: center;
    }

    .inner-social {
        margin: 1.3rem 0;
    }
}